:root{
--main-color:var(--main-color);


}

/* mainsetup */
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}


/* sectionsetup */
.section-contianer {

padding: 0 5rem;

}


/* navbar */
.navbar {
width: 100vw;
height: 70px;
background-color: rgb(255, 90, 90);
padding: 1rem 5rem;
display: flex;
justify-content:space-between;
align-items:center;
}



.div{
    border: salmon;
}

.div-navbar { 
    display: flex;
    justify-content: center;
    align-items:center ;
}


.a-navbar{
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
    margin: 0 1rem;
    transition: 0.3 linear;
}

.a-navbar:hover{
    color: slateblue;
    
}



/* section-title */
.div-head {
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 100%;
    height: 140px;
    background-color:rgba(255, 1, 1, 0.596);
    margin: 5rem 0;
}

  


.section-head {
    color: rgb(0, 0, 0);
}



.section-head2 {
    color: rgb(0, 0, 0);
}
